.important-message{
    color: white;
    text-align: center;
    background-color: black;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #9c27b0;
}

.important-message h2 {
    font-size: 44px;
    display: inline-block;
    border-bottom: 1px solid white;
}

.important-message p {
    font-size: 18px;
}