.logo {
    height: 60px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    margin-right: 20px;
  }
  
  .unActive{
    color: black !important;
  }

  .activeClass{
    color: rgb(145, 0, 0)!important;
  }
 

  