::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    background-color: #fafafa;
}
::-webkit-scrollbar-thumb{
    background-color: #000000;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 30%,transparent,transparent)
}
