.counter{
    align-self: center;
}

.Mui-disabled{
    border: 1px solid #d32f2f !important;
    color: #d32f2f !important;
}

.Mui-active{
    border: 1px solid white;
    color: white;
}

.noStock{
    color: #d32f2f;
}